<div class="activities__header">
  <h2>Recent Activities</h2>
</div>


<div class="activities__box" *ngFor="let activity of activities">
  <div class="activities__boxHeader roomListRoom__header">
    <a [routerLink]="['/profile',activity.userCreated]" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img (error)="$event.target.src='./assets/avatar.svg'" src="{{imageUrl + activity.avatarUrl}}" >
      </div>
      <p>
        @{{activity.userCreated}}
        <span>{{activity.created}}</span>
      </p>
    </a>
    <div *ngIf="(accountService.currentUser$|async) != null && (accountService.currentUser$|async).userName == activity.userCreated" class="roomListRoom__actions">
      <a style="cursor: pointer" (click)="deleteMessage(activity)" [href]="">
        <svg version="1.1" xmlns="http://www.w3.orgw/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>remove</title>
          <path
            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="activities__boxContent">
    <p>replied in room <a [routerLink]="['/room',activity.messageIsInRoom]" [queryParams]="{topic: activity.topicName}" >{{activity.messageIsInRoom}}</a></p>
    <div class="activities__boxRoomContent">
      {{activity.body}}
    </div>
  </div>
</div>
